</div>
					
</div>
</div>
<!-- 结束主要内容 -->
</div>
<!--主要的结束 -->
<div class="clearfix"></div>
<!-- 页脚 -->
<footer>
<div class="container-fluid">
<p class="copyright">&copy; 2017
    <a href="#" target="_blank">Theme I Need</a>
    . All Rights Reserved. MoreT emplates
    <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
    - Collect from
    <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
</p>
</div>
</footer>
</div>
<!-- 结束包装-->
<!-- Javascript -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/assets/vendor/chartist/js/chartist.min.js"></script>
<script src="/assets/scripts/klorofil-common.js"></script>
<script src="/js/js.js"></script>
</body>

</html>