<!-- 引入头部 -->
<% include haen%>
<div class="col-md-12">
  <ol class="breadcrumb">
      <li><a href="#">项目管理</a></li>
    </ol>
</div>

<div class="jumbotron" id="jum">
  <h1>元气满满的一天</h1>
  <p>后台管理页面|ui|软件界面|螃蟹</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">♥＾▽＾♥</a></p>
</div>
</div>
<!-- 引入底部 -->
<% include footen%>
					 
