<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>博客园界面</title>
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/gg.css">

</head>

<body>
    <!--左侧菜单栏-->
    <div class="blog-left">
        <div class="blog-avatar">
            <img src="../images/登录背景图.webp" alt="">
        </div>
        <div class="blog-title">
            <span>Luz的博客</span>
        </div>
        <div class="blog-desc">
            <span>Luz很懒,什么都没有留下</span>
        </div>
        <div class="blog-link">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/column/">栏目行</a> </li>
                <li><a href="/body/">主体内容</a> </li>
            </ul>
        </div>
        <div class="blog-link"></div>
        <div class="blog-item"></div>
    </div>
    <!--左侧结束-->
    <!--右侧开始-->
    <div class="blog-right">
        <!--头部导航 navigation-->
        <div class="nav">
            <img src="../images/登录背景图.webp" alt='作者头像' class="avatar">
            <span class="title">我的博客系统</span>
            <!--用来占据中间空白位置-->
            <span class="spacer"></span>
            <a href="/">主页</a>
            <a href="#">写博客</a>
            <a href="#">注销</a>
        </div>
        <!--正文部分-->
        <div class="container">
            <!--个人信息-->
            <div class="container-left">
                <div class="card">
                    <h3>芊芊子</h3>
                    <a href="https://www.gitee.com/">我的gitee</a>
                </div>
            </div>
            <!--文章列表-->
            <div class="container-right">
                <div class="blog">
                    <div class="title">我的项目</div>
                    <div class="date">2021-12-1</div>
                    <div class="desc">
                        从今天起, 我要认真敲代码. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Cum distinctio ullam eum ut
                        veroab laborum numquam tenetur est in dolorum a sint, assumenda
                        adipisci similique quaerat vel.
                        Facere,
                        et.
                    </div>
                    <a href="/tem/" class="detail">查看全文 &gt; &gt;</a>
                </div>
                <div class="blog">
                    <div class="title">我的文章</div>
                    <div class="date">2021-12-3</div>
                    <div class="desc">
                        从今天起, 我要认真敲代码. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Cum distinctio ullam eum ut
                        veroab laborum numquam tenetur est in dolorum a sint, assumenda
                        adipisci similique quaerat vel.
                        Facere,
                        et.
                    </div>
                    <!--&gt是转义字符 ，他的意思是 >>-->
                    <a href="/Articl/" class="detail">查看全文 &gt; &gt;</a>
                </div>
                <div class="blog">
                    <div class="title">我的系统</div>
                    <div class="date">2021-12-5</div>
                    <div class="desc">
                        从今天起, 我要认真敲代码. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Cum distinctio ullam eum ut
                        veroab laborum numquam tenetur est in dolorum a sint, assumenda
                        adipisci similique quaerat vel.
                        Facere,
                        et.
                    </div>
                    <!--&gt是转义字符 ，他的意思是 >>-->
                    <a href="/Conten" class="detail">查看全文 &gt; &gt;</a>
                </div>

                <!--右侧结束-->
            </div>
</body>

</html>
<script src="../js/jquery-1.9.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>