# html 博客编写
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客园界面</title>
	<link rel="stylesheet" href="../css/blog.css">
</head>
<body>
<!--左侧菜单栏-->
    <div class="blog-left">
        <div class="blog-avatar">
            <img src="../images/登录背景图.webp" alt="">
        </div>
        <div class="blog-title">
            <span>Luz的博客</span>
        </div>
        <div class="blog-desc">
            <span>Luz很懒,什么都没有留下</span>
        </div>
        <div class="blog-link">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/column/">栏目行</a> </li>
                <li><a href="/body/">主体内容</a> </li>
            </ul>
        </div>
        <div class="blog-link"></div>
        <div class="blog-item"></div>
    </div>
<!--左侧结束-->
<!--右侧开始-->
    <div class="blog-right">
        <div class="article-list">
            <div class="article-title">
                <span class="article-st">论富婆包养条件</span>
                <span class="article-date" >2022/2/10</span>
            </div>
            <div class="article-desc">
                <span>身体要棒!!</span>
            </div>
            <div class="article-info">
        
        </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <span class="article-st">论元气满满</span>
                <span class="article-date" >2022/2/10</span>
            </div>
            <div class="article-desc">
                <span>心情要好!!</span>
            </div>
            <div class="article-info">
        </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <span class="article-st">论生活满满</span>
                <span class="article-date" >2022/2/10</span>
            </div>
            <div class="article-desc">
                <span>工作要好!!</span>
            </div>
            <div class="article-info">
           
        </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <span class="article-st">论逍遥快活</span>
                <span class="article-date" >2022/2/10</span>
            </div>
            <div class="article-desc">
                <span>财富要猛!!</span>
            </div>
            <div class="article-info">
           
        </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <span class="article-st">论人生丰富</span>
                <span class="article-date" >2022/2/10</span>
            </div>
            <div class="article-desc">
                <span>经历要棒!!</span>
            </div>
            <div class="article-info">
          
        </div>
        </div>
    </div>
<!--右侧结束-->
</body>
</html>
